#login-container{
  color: var(--font-color);
  background-color: var(--background-color);
  width: 500px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--font-color);
}

#login-container .card-title{
  text-align: center;
  font-size: 2rem;
}

#login-container button{
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
